.inline-block {
  display: inline-block;
}

.container-welcome {
  padding-top: 10px;
}
.container-welcome .row {
  max-width: 740px;
}

.car-thumb {
  max-width: 300px;
  height: auto;
}
#rightside {
  display: inline-block;
  vertical-align: top;
  width: 330px;
  margin-left: 95px;
}
#rightside .row {
  margin-left: 10;
}

.first-title {
  width: 740px;
}

.second-title {
  width: 455px;
  text-align: center;
}

.control-label {
}